{#<div style="float: right; padding-right: 20px">
    <a class="close_detail btn btn-outline red btn-circle btn-sm" >Close Detail</a>
</div>
<br>#}

<table class="table table-striped table-hover order-column dataTable"style="width: 100%; position: absolute; top: 0px; left: 0px;">
    <thead>
        <tr role="row" style="height: 0px;">
            <th> QTY </th>      
            <th> Product </th>      
            <th> Extra </th>
            <th> Item </th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr class=" odd" role="row">
                <td>{{ order.qty}}</td>
                <td>{{ order.name}}</td>
                <td class="sorting_1">{{order.extraname}} </td>
                <td> {{ order.itemname }} </td>
            </tr>
        {% endfor %}
    </tbody>
    <br>
    <tfoot>
        <tr>
            <td colspan="5" style="font-weight: bold; padding-top: 40px">{{orderComment}}</td>
        </tr>
    </tfoot>
</table>
