<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Extra 
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" method="post" name="createprod" id="createprodid" >
            <div class="row">
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Group</label>
                            <div class="col-md-8">
                                <input type="text" name="group" id="groupId" class="form-control input-circle" value="{{extra.group|default('')}}" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">

                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Amount Free Extras</label>
                            <div class="col-md-2">
                                <input type="number" name="freeExtra" id="freeExtraId" class="form-control input-circle" value="{{extra.cantFreeExtra|default('')}}">
                            </div>
                            <div class="col-md-2 col-md-offset-1" style="padding-top: 8px">
                                <label class="mt-checkbox">
                                    {% if extra.order|default('0') == 1%}
                                        <input type="checkbox" id="orderId" checked="1"> Order
                                    {% else %}  
                                        <input type="checkbox" id="orderId"> Order
                                    {% endif %}
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-2" style="padding-top: 8px">
                                <label class="col-md-2 mt-checkbox">
                                    {% if extra.required|default('0') == 1%}
                                        <input type="checkbox" id="requeId" checked="1"> Required
                                    {% else %}
                                        <input type="checkbox" id="requeId"> Required
                                    {% endif %}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="col-md-offset-4">
                                <button type="button" onclick="InsertExtra({{product}});" class="btn btn-circle green">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<script>
    $("#add").hide();
    $("#back").attr('data-href', "{{path("product_extras",{'productId':product|default('0')})}}");
    $("#back").attr('data-type', "3");

    function InsertExtra(product) {
        valorG = document.getElementById("groupId").value;
        valorF = document.getElementById("freeExtraId").value;

        if (valorG == null || valorG.length == 0 || /^\s+$/.test(valorG)) {
            warning('You must enter the group');
            return false;
        }
        if (valorF < 0) {
            warning('You must enter the amount');
            return false;
        }

        $.ajax({
            type: "POST",
            url: "{{path("product_extras_new",{'extraId':extra.id|default(0)})}}",
            data: {
                group: $("#groupId").val(),
                freeExtra: $("#freeExtraId").val(),
                order: $("#orderId").is(":checked"),
                requeride: $("#requeId").is(":checked"),
                prodId: product
            },
            success: function (respose) {
                $(".list-prod").hide();
                $(".list-prod").show(1000);
                $(".list-prod").html(respose);
                $(".list-prod").show(1000);
            }
        });
    }

</script>  
