<div id="data">
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i> Product 
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" method="post" name="createprod" id="createprodid" >
                <div class="row">
                    <div class="portlet-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-8">
                                    <input type="text" name="name" id="nameId" class="form-control input-circle" value="{{product.name|default('')}}" placeholder="Enter text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description</label>
                                <div class="col-md-8">
                                    <input type="text" id="descriptionId" name="description" value="{{product.description|default('')}}" class="form-control input-circle">{#Tiene que ser text area#}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Price</label>
                                <div class="col-md-8">
                                    <div class="input-icon">
                                        <i class="fa fa-dollar"></i>
                                        <input type="number" name="price" id="priceId" class="form-control input-circle" value="{{product.price|default('0')}}" placeholder="Price"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions">
                                <div class="col-md-offset-4">
                                    <button type="button" onclick="InsertProduct()" class="btn btn-circle green">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<script>
    $("#add").hide();
    $("#back").attr('data-href', "{{path("products",{'groupId':groupSellect})}}");
    $("#back").attr('data-type', "1");
    
    function InsertProduct() {
        valorN = document.getElementById("nameId").value;
        valorP = document.getElementById("priceId").value;
        
        if (valorN == null || valorN.length == 0 || /^\s+$/.test(valorN)) {
            warning("You must mark the shipping type");
            return false;
        }
        if (valorP < 0) {
            warning('[ERROR] You must enter the price');
            return false;
        }
        $.ajax({
            type: "POST",
            url: "{{path("product_create",{'groupId':groupSellect,'productId':product.id|default(0)})}}",
            data: {
                description: $("#descriptionId").val(),
                name: $("#nameId").val(),
                price: $("#priceId").val()
            },
            success: function (respose) {
                $(".list-prod").hide();
                $(".list-prod").show(1000);
                $(".list-prod").html(respose);
                $(".list-prod").show(1000);
            }
        });
    }
</script> 

