<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i> Item 
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal" method="POST" name="createprod" id="createitemdid" >
            <div class="row">
                <div class="portlet-body">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-8">
                                <input type="text" name="name" id="nameId" class="form-control input-circle" value="{{items.name|default('')}}" placeholder="Enter text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Price</label>
                            <div class="col-md-4">
                                <div class="input-icon">
                                    <i class="fa fa-dollar"></i>
                                    <input type="number" name="price" id="priceId" class="form-control input-circle" value="{{items.price|default('0')}}" placeholder="Price"> </div>
                            </div>
                            <div class="col-md-2 col-md-offset-1" style="padding-top: 8px">
                                <label class="mt-checkbox">
                                    {% if items.order|default('0') == 1 %}
                                        <input type="checkbox" id="orderId" checked="1"> Order
                                    {% else %}  
                                        <input type="checkbox" id="orderId"> Order
                                    {% endif %}
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-actions">
                            <div class="col-md-offset-4">
                                <button type="button" onclick="InsertItem();" class="btn btn-circle green">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>
<script>
    $("#add").hide();
    $("#back").attr('data-href', "{{path("extras_item",{'extraId':extra|default('0'),'productId':product|default('0')})}}");
    $("#back").attr('data-type', "5");

    function InsertItem() {
        valorN = document.getElementById("nameId").value;
        valorP = document.getElementById("priceId").value;

        if (valorN == null || valorN.length == 0 || /^\s+$/.test(valorN)) {
            warning('You must enter the name');
            return false;
        }
        if (valorP < 0) {
            warning('You must enter the price');
            return false;
        }

        $.ajax({
            type: "POST",
            url: "{{path("extras_item_new",{'extraId':extra.id|default(0),'itemId':items.id|default(0)})}}",
            data: {
                name: $("#nameId").val(),
                price: $("#priceId").val(),
                order: $("#orderId").is(":checked")
            },
            success: function (respose) {
                $(".list-prod").hide();
                $(".list-prod").show(1000);
                $(".list-prod").html(respose);
                $(".list-prod").show(1000);
            }
        });
    }

    {#$(document).ready(function ()
    {

        $("#createprodid").validate({
            rules: {
                name: {
                    required: true

                },
                description: {
                    required: true
                },
                price: {
                    required: true
                }
            },
            submitHandler: function () {
                InsertProduct();
            }
        });
    });#}
</script>  
