<div class="codemio1">
    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-coffee"></i>Extras Product: {{product}} 
            </div>
        </div>
        <div class="portlet-body">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 300px; width: 100%;">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_3" role="grid" aria-describedby="sample_3_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 68px;"> Group </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 53px;"> Free Extras </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 53px;"> Order </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 53px;"> Required </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 53px;"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    {% for e in extras %}
                                    <tr class="gradeX odd" role="row">
                                        <td class="sorting_1"> {{e.group}} </td>
                                        <td> {{e.cantFreeExtra}} </td>
                                        {% if e.order|default('0') == 1%}
                                            <td> Yes </td>
                                        {% else %}
                                            <td> No </td>
                                        {% endif %}
                                        {% if e.required|default('0') == 1%}
                                            <td> Yes </td>
                                        {% else %}
                                            <td> No </td>
                                        {% endif %}
                                        <td>
                                            <a class="edit btn green btn-circle" data-href="{{path("product_extras_create",{'extraId':e.id|default('0'),'productId':product|default('0')})}}"> Edit </a>
                                            <a class="ite btn yellow btn-circle" data-href="{{path("extras_item",{'extraId':e.id|default('0'),'productId':product|default('0')})}}"> View Items </a>
                                            <a class="btn {{e.active == 1?'red':'blue'}} btn-circle" onclick='activateExtra({{e.id}},{{e.active|default('0') }} );'> {{e.active == 1?'Deactivate':'Activate'}} </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editproduct1">
    <div class="edit-prod1"></div>
</div>
<script>
    $("#back").show();
    $("#add").show();
    $("#add").attr('data-href', "{{path("product_extras_create",{'extraId':extras.id|default('0'),'productId':product|default('0')})}}");
    $('.scroller').slimScroll({});
    $("#back").attr('data-href', "{{path("products",{'groupId':group})}}");
    $("#back").attr('data-type', "2");

    $(".add").click(function () {
        App.blockUI();
        $(".edit-prod1").load($(this).attr("data-href"), [], function () {
            $(".codemio1").hide(1000);
            $("#editproduct1").show(1500);
            App.unblockUI();
        });
    });
    $(".edit").click(function () {
        App.blockUI();
        $(".edit-prod1").load($(this).attr("data-href"), [], function () {
            $(".codemio1").hide(1000);
            $("#editproduct1").show(1500);
            App.unblockUI();
        });
    });

    $(".ite").click(function () {
        App.blockUI();
        $(".edit-prod1").load($(this).attr("data-href"), [], function () {
            $(".codemio1").hide(1000);
            $("#editproduct1").show(1500);
            App.unblockUI();
        });
    });

    function activateExtra(id, active) {

        $.ajax({
            type: "POST",
            url: "{{path("product_extras_active")}}",
            data: {
                key: id,
                active: active
            },
            success: function (respose) {
                $(".list-prod").hide();
                $(".list-prod").show();
                $(".list-prod").html(respose);
                $(".list-prod").show();
            }
        });
    }
</script>