<div class="codemio2">
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-book"></i>Items Extra: 
            </div>
        </div>
        <div class="portlet-body">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 300px; width: 100%;">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_3" role="grid" aria-describedby="sample_3_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 68px;"> Name </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 110px;"> Price </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 110px;"> Order </th>
                                    <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 53px;"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr role="row" class="odd">
                                    {% for i in items %}
                                    <tr class="gradeX odd" role="row">
                                        <td class="sorting_1"> {{i.name}} </td>
                                        <td> {{i.price}} </td>
                                        {% if i.order|default('0') == 1%}
                                            <td> Yes </td>
                                        {% else %}
                                            <td> No </td>
                                        {% endif %}
                                        <td>
                                            <a class="edit btn green btn-circle" data-href="{{path("extras_item_edit",{'productId':product|default('0'),'extraId':extra.id|default('0'),'itemId':i.id|default('0')})}}"> Edit </a>
                                            <a class="btn {{i.active == 1?'red':'blue'}} btn-circle" onclick='activateItem({{i.id}},{{i.active|default('0') }} );'> {{i.active == 1?'Deactivate':'Activate'}} </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="editproduct2">
    <div class="edit-prod2"></div>
</div>
<script>
    $("#back").show();
    $("#add").show();
    $('.scroller').slimScroll({});
    $("#add").attr('data-href', "{{path("extras_item_edit",{'productId':product|default('0'),'extraId':extra.id|default('0'),'itemId':items.id|default('0')})}}");
    $("#back").attr('data-href', "{{path("product_extras",{'productId':product|default('0')})}}");
    $("#back").attr('data-type', "4");

    $(".add").click(function () {
        App.blockUI();
        $(".edit-prod2").load($(this).attr("data-href"), [], function () {
            $(".codemio2").hide(1000);
            $("#editproduct2").show(1500);
            App.unblockUI();
        });
    });
    $(".edit").click(function () {
        App.blockUI();
        $(".edit-prod2").load($(this).attr("data-href"), [], function () {
            $(".codemio2").hide(1000);
            $("#editproduct2").show(1500);
            App.unblockUI();
        });
    });

    function activateItem(id, active) {

        $.ajax({
            type: "POST",
            url: "{{path("extras_item_active")}}",
            data: {
                key: id,
                active: active
            },
            success: function (respose) {
                $(".list-prod").hide();
                $(".list-prod").show();
                $(".list-prod").html(respose);
                $(".list-prod").show();
            }
        });
    }
</script>