<div id="sample_1_wrapper" class="dataTables_wrapper no-footer DTS">
    <div class="table-scrollable">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 400px; width: 100%;">
                <table class="table table-striped table-bordered table-hover order-column dataTable"style="width: 100%; position: absolute; top: 0px; left: 0px;">
                    <thead class="bg-primary">
                        <tr role="row" style="height: 0px; ">
                            <th style="width: 18%;text-align: center"> Product </th>      
                            <th style="width: 32%;text-align: center"> Description </th>
                            <th style="width: 10%;text-align: center"> Price </th>
                            <th style="width: 35%;text-align: center"> Actions </th> 
                        </tr>
                    </thead>

                    <tbody>
                        <tr role="row" class="odd">
                            {% for p in products %}
                            <tr class="gradeX odd" role="row">
                                <td class="sorting_1"> {{p.name}} </td>
                                <td> {{p.description}} </td>
                                <td class="center"> {{p.price}} </td>
                                <td style="text-align: center">
                                    <a class="edit btn green btn-circle" data-href="{{path("products_data",{'groupId':groupSellect,'productId':p.id|default('0')})}}"> Edit </a>
                                    <a class="extra btn yellow btn-circle" data-href="{{path("product_extras",{'productId':p.id|default('0')})}}"> View Extras</a>
                                    <a class="btn {{p.active == 1?'red':'blue'}} btn-circle " onclick='activateProduct({{p.id}},{{p.active|default('0')}})'> {{p.active == 1?'Deactivate':'Activate'}} </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="edit-prod"></div>
<script>
    $("#menu").attr("class","open"); 
    $("#add").show();
    $("#back").show();
    $(".line").show();
    $("#back").attr('data-type', "0");
    $("#add").attr('data-href', "{{path("products_data",{'groupId':groupSellect,'productId':p.id|default('0')})}}");

        $(".edit").click(function () {
            App.blockUI();
            $(".edit-prod").load($(this).attr("data-href"), [], function () {
                $("#sample_1_wrapper").hide(1000);
                $("#editproduct").show(1500);
                App.unblockUI();
            });
        });

        $(".extra").click(function () {
            App.blockUI();
            $(".edit-prod").load($(this).attr("data-href"), [], function () {
                $("#sample_1_wrapper").hide(1000);
                $("#editproduct").show(1500);
                App.unblockUI();
            });
        });

        $(".add").click(function () {
            App.blockUI();
            $(".edit-prod").load($(this).attr("data-href"), [], function () {
                $("#sample_1_wrapper").hide(1000);
                $("#editproduct").show(1500);
                App.unblockUI();
            });
        });

        function activateProduct(id, active) {
            $.ajax({
                type: "POST",
                url: "{{path("product_active",{'groupId':groupSellect})}}",
                data: {
                    key: id,
                    active: active
                },
                success: function (respose) {
                    $(".list-prod").hide();
                    $(".list-prod").show();
                    $(".list-prod").html(respose);
                    $(".list-prod").show();
                }
            });
        }

</script>


