<div class="tableInvoice">
    <div id="mainOrders_tab2" class="col-md-12" style="padding-right: 0px;padding-left: 5px;"> 
        <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 460px; width: 100%;">
            <table class="table table-striped"style="width: 100%; position: absolute; top: 0px; left: 0px;">
                <thead>
                    <tr role="row" style="height: 0px;background-color: #B8C3C7">
                        <th> Date </th>      
                        <th> Total </th>
                        <th> Start Date </th>
                        <th> End Date </th>
                        <th> Status </th>
                        <th style="padding-left: 25px"> Actions </th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in invoices %}
                        <tr class=" odd" role="row">
                            <td>{{i.issuedDate|date("M-d-y")}}</td>
                            <td>{{i.total}}</td>
                            <td>{{i.startDate|date("M-d-y")}}</td>
                            <td>{{i.endDate|date("M-d-y")}}</td>
                            <td>{{i.total}}</td>
                            <td >
                                <a class="detail btn btn-outline yellow btn-circle btn-sm" data-href="{{path("orders_invoice",{'invoiceId':i.id|default('0')})}}">View Orders</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div> 
<div id="ordersInvoice">
    <a id="back" class="back btn btn-default btn-circle blue"><spam> <i class="fa fa-angle-left"></i></spam>  Back</a>
    <hr class="line">
    <div class="orders-invoice"></div>
</div>            
<script>
    $("#menuInvoice_").attr("class","open");
    $("#back").hide();
    
    $(".detail").click(function () {
        App.blockUI();
        $(".orders-invoice").load($(this).attr("data-href"), [], function () {
            $(".tableInvoice").hide(1000);
            $("#ordersInvoice").show(1500);
            $("#back").show();
            App.unblockUI();
        });
    });

</script>                