<div id="mainOrders" class="col-md-12" style="padding-right: 0px;padding-left: 5px;"> 
    <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 430px; width: 100%;">
        <table class="table table-striped"style="width: 100%;height: 400px; position: absolute; top: 0px; left: 0px;">
            <thead>
                <tr role="row" style="height: 0px;background-color: #B8C3C7">
                    <th> Order Number </th>      
                    <th> Total </th>
                    <th> Date </th>
                    <th style="padding-left: 35px"> Action </th>
                </tr>
            </thead>
            <tbody>
                {% for i in invoiceDetail %}
                    <tr class=" odd" role="row" >
                        <td>{{i.id}}</td>
                        <td>{{i.total}}</td>
                        <td>{{i.startTime|date("M-d-y")}}</td>
                        <td >
                            <a class="detail btn btn-outline green btn-circle btn-sm" onclick='orderDetail({{i.id|default('0')}})' > Product Detail </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id='mainOrderDetail' class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
</div> 
<script>
    $(".close_detail").hide();
    $("#back").show();
    $(".back").click(function () {
        $("#ordersInvoice").hide(1000);
        $(".tableInvoice").show(1500);
    });


    function orderDetail(orderid) {
        $("#mainOrderDetail").hide(100);
        App.blockUI("#mainOrderDetail");
        $.ajax({
            type: "POST",
            url: "{{path("orderproducts")}}",
            data: {
                key: orderid
            },
            success: function (respose) {
                App.unblockUI();
                $("#mainOrders").attr("class", "col-md-7");
                $("#mainOrderDetail").attr("class", "col-md-5");
                $("#mainOrderDetail").html(respose);
                $("#mainOrderDetail").show(700);
                $(".close_detail").show(300);
            }
        });
    }

    $(".close_detail").click(function () {
        $(".close_detail").hide(700);
        $("#mainOrderDetail").hide(700);
        $("#mainOrders").attr("class", "col-md-12");
    });
</script>

