<div class="portlet light bordered" style="padding: 0px" >
    <div class="portlet-title tabbable-line" style="padding-right: 30px">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_actions_pending" data-toggle="tab"> NEW ORDERS </a>
            </li>
            <li>
                <a href="#tab_actions_completed" data-toggle="tab"> HISTORY </a>
            </li>
            {# <li>
                 <a href="#tab_actions_statistics" data-toggle="tab"> Statistics </a>
             </li>#}
        </ul>
    </div>
    <div class="portlet-body"> 
        <div class="scroller" style="height: 400px;padding-left: 15px" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
            <div class="tab-content">
                <div class="tab-pane active" id="tab_actions_pending">
                    <!-- BEGIN: Actions -->
                    <div id='mainOrders' class="col-md-12" style="padding-right: 0px;padding-left: 5px;">
                        <div class="mt-actions">
                            {% for order in orders%}
                                <div class="mt-action" style="padding-bottom: 0px;padding-top: 8px;">
                                    <div class="mt-action-body">
                                        <div class="mt-action-row ">
                                            <div class="mt-action-info">
                                                <div class="mt-action-details center-block">
                                                    <span class="mt-action-desc">Order#</span>
                                                    <p class="mt-action-author">{{order.idorder}}</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-info" style="padding-bottom: 5px">
                                                <div class="mt-action-img" style="padding-left: 0px">
                                                    <img src=" {{asset('assets/drivers/'~order.profileImage)}}" style="width: 45px">
                                                </div>
                                                <div class="mt-action-details center-block" style="padding-left: 10px">
                                                    <span class="mt-action-author"> {{order.fullName}}</span> 
                                                </div>
                                            </div>
                                            <div class="mt-action-datetime ">
                                                <span class="mt-action-dot bg-green"></span>
                                                <span class="mt-action-author">{{order.startTime|date("M-d h:m")}}</span>
                                            </div>
                                            <div class="mt-action-info ">
                                                <div class="mt-action-details center-block">
                                                    <span class="mt-action-desc">Estimate</span>
                                                    <p class="mt-action-author">${{order.totalEstimate}}</p>
                                                </div>
                                            </div>
                                            <div class="mt-action-buttons " style="padding-top: 0px;" >
                                                <a class="detail btn btn-outline green btn-circle btn-sm" onclick='orderDetail({{order.idorder|default('0')}})'>View Products</a>
                                            </div>
                                            <div class="" style="float: right; padding-right: 20px">
                                                <a class="close_detail btn btn-outline red btn-circle btn-sm" >X</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ApproveReject mt-action-buttons " style="float: right">
                                        <div class="btn-group btn-group-circle">
                                            <button type="button" class="btn btn-outline green btn-sm">Appove</button>
                                            <button type="button" class="btn btn-outline red btn-sm">Reject</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id='mainOrderDetail' class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
                    </div>    
                </div>
                {# TAB-PANE 2 #}
                <div class="tab-pane" id="tab_actions_completed">
                    <!-- BEGIN:Completed-->
                    <div id="mainOrders_tab2" class="col-md-12" style="padding-right: 0px;padding-left: 5px;"> 
                        {#<div class="table-scrollable">
                            <div class="dataTables_scroll">#}
                        <div class="dataTables_scrollBody" style="position: relative; overflow: auto; height: 380px; width: 100%;">
                            <table class="table table-striped"style="width: 100%;height: 400px; position: absolute; top: 0px; left: 0px;">
                                <thead >
                                    <tr role="row" style="height: 0px;">
                                        <th> ORDER </th>      
                                        <th> Driver </th>      
                                        <th> Date </th>
                                        <th> Status </th>
                                        <th> TOTAL </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orderhistory %}
                                        <tr class=" odd" role="row">
                                            <td style="font-weight: bold;">{{ order.id}}</td>
                                            <td>{{ order.driver.fullName}}</td>
                                            <td class="sorting_1"> {{ order.startTime|date("M-d")}} </td>
                                            <td> {{ order._showStatus() }} </td>
                                            <td> {{ order.ticketCost}} </td>
                                            <td> <a class="detail btn btn-outline green btn-circle btn-sm" onclick='orderDetailtab2({{order.id|default('0')}})'>View Products</a> </td>
                                            <td> <a class="close_detail_tab2 btn btn-outline red btn-circle btn-sm" >X</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {# </div>
                     </div>#}
                    </div>
                    <div id='mainOrderDetailtab2' class="col-md-6" style="padding-right: 0px;padding-left: 5px;">
                    </div> 
                </div>
                {# END TAB PANE 2 #}
            </div>
        </div>

    </div>
</div>
<script>
    $("#menuDashboar_").attr("class","open");
    $("#order_detail").hide();
    $("#mainOrderDetail").hide();
    $(".close_detail").hide();
    $(".close_detail_tab2").hide();
    $(".ApproveReject").hide();

    $(".close_detail").click(function () {
        $.ajax({
            type: "POST",
            url: "{{path("dashboard")}}",
            success: function (respose) {
                $(".close_detail").hide(700);
                $(".mt-action-img").show(700);
                $("#mainOrderDetail").hide(700);
                $("#mainOrders").attr("class", "col-md-12");
    {#$("#mainOrders").html(respose);#}
                }
            });
        });

        function orderDetail(orderid) {
            $("#mainOrderDetail").hide(100);
            App.blockUI("#mainOrderDetail");
            $.ajax({
                type: "POST",
                url: "{{path("orderproducts")}}",
                data: {
                    key: orderid
                },
                success: function (respose) {
                    App.unblockUI();
                    $("#mainOrders").attr("class", "col-md-7");
                    $(".mt-action-img").hide(700);
                    $("#mainOrderDetail").attr("class", "col-md-5");
                    $("#mainOrderDetail").html(respose);
                    $("#mainOrderDetail").show(700);
                    $(".close_detail").show(700);
                }
            });
        }

        function orderDetailtab2(orderid) {
            $("#mainOrderDetailtab2").hide(100);
            App.blockUI("#mainOrderDetailtab2");
            $.ajax({
                type: "POST",
                url: "{{path("orderproducts")}}",
                data: {
                    key: orderid
                },
                success: function (respose) {
                    App.unblockUI();
                    $("#mainOrders_tab2").attr("class", "col-md-7");
                    $(".mt-action-img").hide(700);
                    $("#mainOrderDetailtab2").attr("class", "col-md-5");
                    $("#mainOrderDetailtab2").html(respose);
                    $("#mainOrderDetailtab2").show(700);
                    $(".close_detail_tab2").show(700);
                }
            });
        }

        $(".close_detail_tab2").click(function () {
            $.ajax({
                type: "POST",
                url: "{{path("dashboard")}}",
                success: function (respose) {
                    $(".close_detail_tab2").hide(700);
                    $(".mt-action-img").show(700);
                    $("#mainOrderDetailtab2").hide(700);
                    $("#mainOrders_tab2").attr("class", "col-md-12");
                }
            });
        });
</script>
