<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Obtem| Merchants</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #5 for blank page layout" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN LAYOUT FIRST STYLES -->
        <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700" rel="stylesheet" type="text/css" />
        <!-- END LAYOUT FIRST STYLES -->
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{asset('metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{asset('metronic/assets/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{asset('metronic/assets/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{asset('metronic/assets/layouts/layout5/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{asset('metronic/assets/layouts/layout5/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link href="{{ asset('/assets/global/plugins/bootstrap-toastr/toastr.min.css') }}" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="{{asset('favicon.ico')}}" /> </head>
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo">
        <!-- BEGIN CONTAINER -->
        <div class="wrapper">
            <!-- BEGIN HEADER -->
            <header class="page-header">
                <nav class="navbar mega-menu" role="navigation">
                    <div class="container-fluid">
                        <div class="clearfix navbar-fixed-top">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="toggle-icon">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </span>
                            </button>
                            <!-- End Toggle Button -->
                            <!-- BEGIN LOGO -->
                            <a id="index" class="page-logo" href="obtem.com">
                                <img src="{{asset('/assets/layouts/layout5/img/logo.png')}}" alt="Logo"> </a>
                            <!-- END LOGO -->
                            <!-- BEGIN SEARCH -->
                            <!-- END SEARCH -->
                            <!-- BEGIN TOPBAR ACTIONS -->
                            <div class="topbar-actions">
                                <!-- BEGIN GROUP NOTIFICATION -->
                                <!-- BEGIN USER PROFILE -->
                                <div class="btn-group-img btn-group">
                                </div>
                                <!-- END USER PROFILE -->
                                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                                <a class="detail btn btn-outline green btn-circle btn-sm icon-logout" href="{{path("merchant_logout")}}"> LOGOUT</a>
                                {#<button type="button" class="quick-sidebar-toggler md-skip" data-toggle="collapse">
                                    <span class="sr-only">Toggle Quick Sidebar</span>
                                    <i class="icon-logout"></i>
                                </button>#}
                                <!-- END QUICK SIDEBAR TOGGLER -->
                            </div>
                            <!-- END TOPBAR ACTIONS -->
                        </div>
                        <!-- BEGIN HEADER MENU -->
                        <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                {% block menu %}
                                    <li id="menuDashboar_" class="open">
                                        <a class="menu" data-parent="menuDashboar_" data-href="{{path("dashboard")}}">
                                            <i class="icon-bar-chart"></i> Dashboard </a>
                                    </li>
                                    <li id="menu_">
                                        <a class="menu" data-parent="menu_" data-href="{{path("menu")}}">
                                            <i class="icon-bar-chart"></i> Menu </a>
                                    </li>
                                    {#<li id="menuInvoice_">
                                        <a class="menu" data-parent="menuInvoice_" data-href="{{path("invoice")}}">
                                            <i class="icon-bar-chart"></i> Invoice </a>
                                    </li>#}
                                    <li id="menuSupport_">
                                        <a class="menu" data-parent="menuSupport_" data-href="{{path("support")}}">
                                            <i class="icon-bar-chart"></i> Support </a>
                                    </li>
                                {% endblock %}
                            </ul>
                        </div>
                        <!-- END HEADER MENU -->
                    </div>
                    <!--/container-->
                </nav>
            </header>
            <!-- END HEADER -->
            <div class="container-fluid">
                <div class="page-content" style="max-height: 500px;padding: 30px ">
                    <!-- BEGIN BREADCRUMBS -->
                    {% block page_content %} {% endblock %}
                </div>
                <!-- BEGIN FOOTER -->
                <p class="copyright"> 2016 &copy; obtem.com
                    <a target="_blank" href="http://obtem.com">Obtem</a> &nbsp;|&nbsp;
                </p>
                <a href="#index" class="go2top">
                    <i class="icon-arrow-up"></i>
                </a>
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN QUICK NAV -->
        <nav class="quick-nav">
            <a class="quick-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>
            <ul>
                <li>
                    <a class="menu" data-parent="menuDashboar_" data-href="{{path("merchant_setting")}}">
                        <span>Setting</span>
                        <i class="icon-support"></i>
                    </a>
                </li>
                {#<li>
                    <a class="menu" {#data-parent="menuDashboar_"#} {#data-href="{{path("merchant_card")}}">#}
                        {#<span>Insert Card</span>
                        <i class="icon-check"></i>
                    </a>
                </li>#}
            </ul>
            <span aria-hidden="true" class="quick-nav-bg"></span>
        </nav>
        <div class="quick-nav-overlay"></div>
        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{asset('metronic/assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{asset('metronic/assets/global/scripts/app.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('/assets/global/plugins/bootstrap-toastr/toastr.min.js')}}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{asset('metronic/assets/layouts/layout5/scripts/layout.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/layouts/global/scripts/quick-sidebar.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('metronic/assets/layouts/global/scripts/quick-nav.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('/assets/global/plugins/jquery-validation/js/jquery.validate.min.js')}}"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script>
            function success(msn) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["success"](msn, "Success");
            }

            function error(msn) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["error"](msn, "Error");
            }

            function warning(msn) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["warning"](msn, "Warning");
            }

        </script>

        <script src="{{asset('appmerchant.js')}}" type="text/javascript"></script>
        
        <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
        
        <script>
            $( document ).ready(function() {
            // Initialize Firebase
                var config = {
                    apiKey: "AIzaSyDcqokZjr6ypgPFZZkZVEIk0zkzq1lCc_8",
                    authDomain: "merchants-4cfdf.firebaseapp.com",
                    databaseURL: "https://merchants-4cfdf.firebaseio.com",
                    storageBucket: "merchants-4cfdf.appspot.com",
                    messagingSenderId: "286119748315"
                  };
                firebase.initializeApp(config);

                firebase.auth().signInWithEmailAndPassword('denise.fdez@gmail.com', 'denise0411').catch(function (error) {
                    var errorCode = error.code;
                    var errorMessage = error.message;
                });
                
                //{{app.request.session.get('user_login')}}
                
                var LaunchAlert=false;
                var dbRefObject = firebase.database().ref('merchants/{{app.request.session.get('user_login')}}/orders');
                
                dbRefObject.once('value', function (snap) {
                    console.log("Once");
                    LaunchAlert=true;
                    var orders=snap.val();
                    var list=[];
                    for (var order in orders){
                        list.push(order);
                    }
                    console.log(list);
                    localStorage.setItem("orders", JSON.stringify(list));
                });
                
                loopCicle=function(listOrders){
                    for (var k in listOrders){
                        if(k == "order_id"){
                             return listOrders[k];
                        }
                    };
                }
                
                var dbRefObjectX = firebase.database().ref('merchants/{{app.request.session.get('user_login')}}/orders');
                dbRefObjectX.on('child_added', function (snap) {
                   
                   
                    if(LaunchAlert == false){
                        console.log("not load the method once firebase");
                        return;
                    }
                    
                    $("#menuDashboar_ a").trigger('click');
                    
                    
                     var listOrders=snap.val();
                     
                     var addOrder=loopCicle((listOrders));
                     
                    console.log(listOrders);
                    console.log(addOrder);
                    var orderT=localStorage.getItem("orders");
                    var list= JSON.parse(orderT);
                    count =1;
                    for(var i of list){
                        console.log(i);
                        if(parseInt(i) == parseInt(addOrder))
                            count =0;
                    }
                    
                    if(count == 0){
                        console.log("No changes on the DB");
                        return;
                    }
                    list.push(parseInt(addOrder));
                    localStorage.setItem("orders",JSON.stringify(list));
                    
                    if (Notification) {
                        if (Notification.permission !== "granted") {
                            Notification.requestPermission();
                        }
                        var title = "ORDER ALERT";
                        var options = {
                            icon: "{{asset('assets/images/bellalert.png')}}",
                            body: "New OBTEM order",
                        }

                        var noti = new Notification(title, options);
                        var audio = new Audio('{{asset('assets/alert.mp3')}}');
                        audio.play();

                        setTimeout(function () {
                            noti.close()
                        }, 10000);
                    }

                });
                
            }); //document.ready
            
        </script>
        
    </body>

</html>