<div class="row">
<div class="col-lg-6 col-xs-12 col-sm-12">
    <div class="col-lg-6 col-xs-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Customer Support</span>
                    <span class="caption-helper">45 pending...</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 400px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                    <div class="general-item-list">
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar4.jpg">
                                    <a href="" class="item-name primary-link">Nick Larson</a>
                                    <span class="item-label">3 hrs ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar3.jpg">
                                    <a href="" class="item-name primary-link">Mark</a>
                                    <span class="item-label">5 hrs ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-warning"></span> Pending</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat tincidunt ut laoreet. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar6.jpg">
                                    <a href="" class="item-name primary-link">Nick Larson</a>
                                    <span class="item-label">8 hrs ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-primary"></span> Closed</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar7.jpg">
                                    <a href="" class="item-name primary-link">Nick Larson</a>
                                    <span class="item-label">12 hrs ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-danger"></span> Pending</span>
                            </div>
                            <div class="item-body"> Consectetuer adipiscing elit Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar9.jpg">
                                    <a href="" class="item-name primary-link">Richard Stone</a>
                                    <span class="item-label">2 days ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-danger"></span> Open</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, ut laoreet dolore magna aliquam erat volutpat. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar8.jpg">
                                    <a href="" class="item-name primary-link">Dan</a>
                                    <span class="item-label">3 days ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-warning"></span> Pending</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                        </div>
                        <div class="item">
                            <div class="item-head">
                                <div class="item-details">
                                    <img class="item-pic rounded" src="../assets/pages/media/users/avatar2.jpg">
                                    <a href="" class="item-name primary-link">Larry</a>
                                    <span class="item-label">4 hrs ago</span>
                                </div>
                                <span class="item-status">
                                    <span class="badge badge-empty badge-success"></span> Open</span>
                            </div>
                            <div class="item-body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>