<div class="mt-element-list">
    <div class="scroller" style="height: 500px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
        <div class="mt-list-head list-news ext-1 font-white bg-primary">
            <div class="list-head-title-container">
                <h3 class="list-title">GROUPS</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-top: 15px">
                {% for entity in entities %}
                    <div style="padding: 10px;">
                        <a class="groups" data-href="{{path("products",{'groupId':entity.id})}}">
                            <div class="bold uppercase font-green" style="padding-left: 10px; font-size: 16px"><spam> <i class="fa fa-coffee"></i></spam> &nbsp;{{ entity.group}} </div>
                        </a>
                    </div>   
                {% endfor %}
            </div>
            <div class="col-md-6">
                <br>
                <img src="{{ asset('assets/images/ensalada.jpg')}}" style="width: 100%;height: 100%; float: right; padding-top: 15px">
            </div>
        </div>
    </div>
</div>
<div id="listproduct">
    <a id="back" class="back btn btn-default btn-circle"><spam> <i class="fa fa-angle-left"></i></spam>  Back</a>
    <a id='add' class="add btn btn-success btn-circle"><spam> <i class="fa fa-plus"></i></spam>  Add</a>
    <hr class="line">
    <div class="list-prod"></div>
</div>

<script>
    $("#menu_").attr("class", "open");
    $('.scroller').slimScroll({});
    $("#back").hide();
    $("#add").hide();
    $(".line").hide();

    $(".groups").click(function () {
        App.blockUI();
        $(".list-prod").load($(this).attr("data-href"), [], function () {
            $(".mt-element-list").hide(1000);
            $("#listproduct").show(1500);
            App.unblockUI();
        });
    });

    $("#back").click(function () {
        if ($(this).attr("data-type") == "0") {
            $("#listproduct").hide(0);
            $(".mt-element-list").show(1500);
        } else if ($(this).attr("data-type") == "1") {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        } else if ($(this).attr("data-type") == "2") {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        } else if ($(this).attr("data-type") == "3") {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        } else if ($(this).attr("data-type") == "4") {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        } else if ($(this).attr("data-type") == "5") {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        } else {
            App.blockUI();
            $(".list-prod").load($(this).attr("data-href"), [], function () {
                App.unblockUI();
            });
        }

    });


</script>