<div class="wrapper">
    <div class="container-fluid">
        <div class="page-content" style="max-height: 500px;padding: 30px ">
            <!-- BEGIN BREADCRUMBS -->
            <div class="content">
                <div class="row">
                    <div class="col-md-5">
                        <!-- BEGIN FORM SETTING -->
                        <form id="passForm" class="setting-form" method="post" novalidate="novalidate" style="display: block;">
                            <h3 class="form-title font-green">Change Password</h3>
                            <br>
                            <div class="alert alert-danger display-hide" style="display: none;">
                                <button class="close" data-close="alert"></button>
                            </div>
                            <div class="form-group has-error">
                                <label class="control-label visible-ie8 visible-ie9">Password</label>
                                <input class="form-control form-control-solid placeholder-no-fix input-circle" type="password" autocomplete="off" placeholder="Password" id="idpassword" name="password" aria-required="true" aria-describedby="password-error"> 
                            </div>
                            <div class="form-group has-error">
                                <label class="control-label visible-ie8 visible-ie9">Repeat Password</label>
                                <input class="form-control form-control-solid placeholder-no-fix input-circle" type="password" autocomplete="off" placeholder="Repeat" id="idrepeatpassword" name="repeatpassword" aria-required="true" aria-describedby="password-error"> 
                            </div>
                            <div class="form-actions">
                                <button type="button" onclick="changePass()" class="btn btn-circle green uppercase ">Submit</button>
                                <a type="button" data-href="{{path('dashboard')}}" class="btn btn-circle grey uppercase ">Cancel</a>
                            </div>
                        </form>
                        <!-- END FORM SETTING -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function changePass() {

        $.ajax({
            type: "POST",
            url: "{{path("change_password")}}",
            data: {
                password: $("#idpassword").val()
            },
            success: function (respose) {
                if (respose == "OK") {
                    $("#idpassword").val("");
                    $("#idrepeatpassword").val("");
                    alert("Password changed successfully");
                    window.location.href = "{{path("homepage")}}";
                    return ;
                }

            }
        });
    }

    {#$(document).ready(function ()
    {

        $("#passForm").validate({
            rules: {
                password: {
                    required: true

                },
                idrepeatpassword: {
                    required: true,
                    equalTo: "#idpassword"
                }
            },
            messages: {
                idrepeatpassword: {
                    equalTo: "The Password most be the same"
                }
            },
            submitHandler: function () {
                changePass();
            }
        });
    });#}

</script>

