<div class="col-md-12">
    <div class="c-contact">
        <div class="c-content-title-1">
            <div class="c-line-left bg-dark"></div>
            <p class="bold uppercase font-green text-center">Our helpline is always open to receive any inquiry or feedback. </p>
            <p class="bold uppercase font-green text-center">Feel free to drop us an email and we will get back to you as soon as possible.</p>
        </div>
        <br>
        <form method="post" id="supportMail">
            <div class="form-group">
                <input type="text" name="name" id="name" placeholder="Your Name" class="form-control input-md"> </div>
            <div class="form-group">
                <input type="text" name="phone" id="phone" placeholder="Contact Phone" class="form-control input-md"> </div>
            <div class="form-group">
                <textarea rows="8" name="message" id="message" placeholder="Write comment here ..." class="form-control input-md"></textarea>
            </div>
            <a type="button" class="detail btn btn-outline green btn-circle btn-sm" onclick="sendMail();" style="float: right;">SEND</a>
        </form>
    </div>
</div>
<script>
    $("#menuSupport_").attr("class","open");
    function sendMail() {
            valorsms = document.getElementById("message").value;

            if (valorsms == null || valorsms.length == 0 || /^\s+$/.test(valorsms)) {
                alert("[ERROR] You must enter the Comment");
                return false;
            }
            
        $.ajax({
            type: "POST",
            url: "{{path("send_mail")}}",
            data: {
                name: $("#name").val(),
                phone: $("#phone").val(),
                message: $("#message").val()
            },
            success: function (respose) {
                alert("Correo Enviado");
                $("#name").val("");
                $("#phone").val("");
                $("#message").val("");
            }
        });
    }

    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/589249608bfe600a6b46e1c9/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>